<ion-header *ngIf="selectedCity">
  <ion-navbar>
    <ion-title>{{selectedCity.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content content-top="49">
  <ion-list class="noMargin">
    <ion-list-header>Percipitate Actions</ion-list-header>
    <ion-item>
      <button ion-button block icon-end (click)="openSettings()">
        Filter Settings
        <ion-icon name="hammer"></ion-icon>
      </button>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-item *ngFor="let weatherEntry of percipitateForecast">
      <label>{{weatherEntry.date | date: 'MM/dd hh:mm' }}</label>
      <span class="customFlex"></span>
      <label class="main">
        <span [hidden]="!weatherEntry.rain['3h']">{{weatherEntry.rain['3h']|number:'1.2-4'}} Litre/m^2
      </span>
      <span [hidden]="weatherEntry.rain['3h']">---</span></label>
    </ion-item>
  </ion-list>
</ion-content>
